.link-logo {
  display: inline-block;

  min-width: 145px;
  padding-top: 24px;
  padding-bottom: 24px;

  color: black;

  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  transition: color var(--animation);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--accent {
  color: var(--accent-text-color);
  transition: color var(--animation);
}

.footer__logo {
  padding: 0;
  color: var(--secondary-text-color);

  transition: color var(--animation);
}
