.galery__item {
  cursor: pointer;
  margin-top: 15px;
  margin-left: 15px;

  @media screen and (min-width: 480px) and (max-width: 767.99px) {
    justify-content: center;
    flex-basis: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.99px) {
    display: flex;
    flex-basis: calc((100% - 2 * 15px) / 2);
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.card {
  overflow: hidden;

  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  box-shadow: none;

  transition: box-shadow var(--animation);

  &:hover,
  &:focus {
    box-shadow: var(--prime-card-swadow);
  }
}

.card--link {
  margin-top: 0;
  margin-bottom: 0;
  @media screen and (min-width: 768px) and (max-width: 1199.99px) {
    display: flex;
    flex-direction: column;
  }
}

.card__text {
  position: relative;
  top: 0;
  border-right: 1px solid var(--border-portfolio-color);
  border-bottom: 1px solid var(--border-portfolio-color);
  border-left: 1px solid var(--border-portfolio-color);
  padding: 20px 24px;
  background-color: var(--primary-bg-color);
  z-index: 4;
  flex-grow: 1;
}

.card__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

/*overlay-portfolio*/
.card__image-box {
  position: relative;
  top: 0;
  width: 100%;
}

.card__overlay {
  position: absolute;
  background-color: var(--overlay-bg-color);
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  padding: 63px 24px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(0);
  transition: transform var(--animation), opacity var(--animation);

  .card:hover &,
  .card:focus & {
    opacity: 1;
    visibility: visible;

    transform: translateY(-100%);
    transition: transform var(--animation), opacity var(--animation);
  }
}

.card__overlay-text {
  position: relative;
  top: 0;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  text-align: left;
}
